
<body >
    <div class="container">
        <div class="homepage">
            <form>
                <h1>Welcome to Clover Bank!</h1>
                <div class="button_cont">
                 
               
                    <a >
                        <button type="button" (click)="onAdmin()" class="bt1">Admin Login</button>
                        <!-- <ng-template #adminlogin>
                            <app-admin></app-admin>
                        </ng-template> -->
                    </a>
                  
                    <br>
                    <a >
                    <button class="bt2" type="button" (click)="onCustomer()">Customer Login</button>
                    <!-- <ng-template #customerlogin>
                        <app-customer></app-customer>
                    </ng-template> -->
                </a>
                
                </div>
            </form>
        </div>
        <div class="image" style="background-color: white;">
            <img src="assets/home1.jpg" width="300px">

        </div>
    </div>

</body>



