<body>
    <div id="popup" class="overlay">
        <div class="wrapper">
            <a  class="close">&times;</a>
            <div class="column details">
                <div class="signin">
                    <h1>Admin Sign in</h1>
                    <input type="email" placeholder="Username" [(ngModel)]="username">
                    <input type="password" placeholder="Password" [(ngModel)]="password">
                    <a > Forgot Password?</a>
                    <a>
                   <button class="form-submit" type="button" (click)="onDash()" >Sign in</button>
              
                </a>
                </div>
               
            </div>

            <div class="column content">
                <div class="signin">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                
            </div>

            
         </div>
     </div>

 </div>
    
</body>
